 Use House_Price prediction dataset. Provide summary statistics (mean,
median, minimum, maximum, standard deviation) of variables (categorical
vs quantitative) such as- For example, if categorical variable is age groups
and quantitative variable is income, then provide summary statistics of
income grouped by the age groups.

In [1]:
import pandas as pd

In [2]:
csv_path="./House Price Prediction Dataset.csv"

In [3]:
df=pd.read_csv(csv_path)

In [4]:
df.head()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,2,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3,3592,2,2,3,1938,Downtown,Good,No,266746
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         2000 non-null   int64
 1   Area       2000 non-null   int64
 2   Bedrooms   2000 non-null   int64
 3   Bathrooms  2000 non-null   int64
 4   Floors     2000 non-null   int64
 5   YearBuilt  2000 non-null   int64
 6   Location   2000 non-null   object
 7   Condition  2000 non-null   object
 8   Garage     2000 non-null   object
 9   Price      2000 non-null   int64
dtypes: int64(7), object(3)
memory usage: 156.4+ KB

In [7]:
df.describe()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Price
count,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000
mean,1000.500000,2786.209500,3.003500,2.55250,1.993500,1961.446000,537676.855000
std,577.494589,1295.146799,1.424606,1.10899,0.809188,35.926695,276428.845719
min,1.000000,501.000000,1.000000,1.00000,1.000000,1900.000000,50005.000000
25%,500.750000,1653.000000,2.000000,2.00000,1.000000,1930.000000,300098.000000
50%,1000.500000,2833.000000,3.000000,3.00000,2.000000,1961.000000,539254.000000
75%,1500.250000,3887.500000,4.000000,4.00000,3.000000,1993.000000,780086.000000
max,2000.000000,4999.000000,5.000000,4.00000,3.000000,2023.000000,999656.000000

In [10]:
df.drop('Id',axis=1).mean(numeric_only=True)

Area           2786.2095
Bedrooms          3.0035
Bathrooms         2.5525
Floors            1.9935
YearBuilt      1961.4460
Price        537676.8550
dtype: float64

In [11]:
df.drop('Id',axis=1).std(numeric_only=True)

Area           1295.146799
Bedrooms          1.424606
Bathrooms         1.108990
Floors            0.809188
YearBuilt        35.926695
Price        276428.845719
dtype: float64

In [12]:
df.drop('Id',axis=1).var(numeric_only=True)

Area         1.677405e+06
Bedrooms     2.029503e+00
Bathrooms    1.229859e+00
Floors       6.547851e-01
YearBuilt    1.290727e+03
Price        7.641291e+10
dtype: float64

In [13]:
df.drop('Id',axis=1).min(numeric_only=True)

Area           501
Bedrooms         1
Bathrooms        1
Floors           1
YearBuilt     1900
Price        50005
dtype: int64

In [14]:
df.drop('Id',axis=1).max(numeric_only=True)

Area           4999
Bedrooms          5
Bathrooms         4
Floors            3
YearBuilt      2023
Price        999656
dtype: int64

In [15]:
df.select_dtypes(include=['object'])

      Location  Condition Garage
0     Downtown  Excellent     No
1     Downtown  Excellent     No
2     Downtown       Good     No
3     Suburban       Fair    Yes
4     Downtown       Fair    Yes
...        ...        ...    ...
1995  Suburban       Poor     No
1996  Suburban       Poor    Yes
1997     Rural       Poor     No
1998     Urban  Excellent    Yes
1999  Suburban       Fair     No

[2000 rows x 3 columns]

In [44]:
numeric_columns=df.select_dtypes(exclude=['object']).columns.to_list()
numeric_columns.remove('Id')

In [45]:
categorical_columns=df.select_dtypes(include=['object']).columns

In [46]:
for category in categorical_columns:
    for numeric in numeric_columns:
        print(f"\n=== {numeric} grouped by {category} ===\n")
        print(df.groupby(category)[numeric].agg(['mean','median','min','max','std','var']))

=== Area grouped by Location ===

                 mean  median  min   max          std           var
Location
Downtown  2813.625448  2846.0  504  4999  1349.332536  1.820698e+06
Rural     2745.951477  2679.5  501  4973  1248.336844  1.558345e+06
Suburban  2794.020704  2883.0  501  4994  1275.603460  1.627164e+06
Urban     2786.232990  2876.0  502  4997  1298.757150  1.686770e+06

=== Bedrooms grouped by Location ===

              mean  median  min  max       std       var
Location
Downtown  2.994624     3.0    1    5  1.427471  2.037673
Rural     2.974684     3.0    1    5  1.421443  2.020499
Suburban  2.977226     3.0    1    5  1.432253  2.051347
Urban     3.068041     3.0    1    5  1.419139  2.013956

=== Bathrooms grouped by Location ===

              mean  median  min  max       std       var
Location
Downtown  2.600358     3.0    1    4  1.109677  1.231382
Rural     2.512658     3.0    1    4  1.109658  1.231340
Suburban  2.550725     3.0    1    4  1.104036  1.218895
Urban     2.538144     3.0    1    4  1.113909  1.240794

=== Floors grouped by Location ===

              mean  median  min  max       std       var
Location
Downtown  1.996416     2.0    1    3  0.794949  0.631944
Rural     1.983122     2.0    1    3  0.822343  0.676247
Suburban  1.979296     2.0    1    3  0.806860  0.651023
Urban     2.014433     2.0    1    3  0.816790  0.667147

=== YearBuilt grouped by Location ===

                 mean  median   min   max        std          var
Location
Downtown  1963.851254  1966.5  1900  2023  35.673430  1272.593634
Rural     1960.854430  1962.0  1900  2023  36.262461  1314.966080
Suburban  1961.151139  1960.0  1900  2023  36.562116  1336.788313
Urban     1959.550515  1958.0  1900  2023  35.204245  1239.338869

=== Price grouped by Location ===

                   mean    median    min     max            std           var
Location
Downtown  536059.661290  532340.5  51845  998128  275319.395682  7.580077e+10
Rural     538613.943038  527560.0  50005  994218  277037.894087  7.674999e+10
Suburban  557416.333333  589618.0  50064  999656  266672.175503  7.111405e+10
Urban     518963.548454  520917.0  51082  999453  285998.094535  8.179491e+10

=== Area grouped by Condition ===

                  mean  median  min   max          std           var
Condition
Excellent  2762.442270  2827.0  520  4999  1275.022304  1.625682e+06
Fair       2814.145873  2862.0  504  4996  1280.186126  1.638877e+06
Good       2789.258134  2765.0  501  4995  1290.234895  1.664706e+06
Poor       2778.684418  2852.0  501  4994  1337.603347  1.789183e+06

=== Bedrooms grouped by Condition ===

               mean  median  min  max       std       var
Condition
Excellent  2.992172     3.0    1    5  1.432103  2.050919
Fair       3.009597     3.0    1    5  1.395702  1.947985
Good       2.980477     3.0    1    5  1.448256  2.097444
Poor       3.029586     3.0    1    5  1.428504  2.040625

=== Bathrooms grouped by Condition ===

               mean  median  min  max       std       var
Condition
Excellent  2.544031     3.0    1    4  1.105032  1.221097
Fair       2.497121     2.0    1    4  1.125103  1.265857
Good       2.596529     3.0    1    4  1.092419  1.193379
Poor       2.577909     3.0    1    4  1.111983  1.236507

=== Floors grouped by Condition ===

               mean  median  min  max       std       var
Condition
Excellent  1.968689     2.0    1    3  0.806225  0.649998
Fair       1.992322     2.0    1    3  0.822717  0.676864
Good       1.995662     2.0    1    3  0.815597  0.665199
Poor       2.017751     2.0    1    3  0.793800  0.630119

=== YearBuilt grouped by Condition ===

                  mean  median   min   max        std          var
Condition
Excellent  1961.250489  1962.0  1900  2023  36.267793  1315.352818
Fair       1959.080614  1956.0  1900  2023  36.196701  1310.201181
Good       1962.919740  1966.0  1900  2023  35.515827  1261.373979
Poor       1962.733728  1963.0  1900  2023  35.648178  1270.792595

=== Price grouped by Condition ===

                    mean    median    min     max            std           var
Condition
Excellent  530812.009785  540339.0  53212  991902  272316.494242  7.415627e+10
Fair       560594.140115  577800.0  50005  999453  277742.653540  7.714098e+10
Good       529002.351410  529898.0  53889  999656  269556.902458  7.266092e+10
Poor       528933.218935  518304.0  50064  997719  284727.193294  8.106957e+10

=== Area grouped by Garage ===

               mean  median  min   max          std           var
Garage
No      2790.499037  2793.5  501  4999  1294.465990  1.675642e+06
Yes     2781.581081  2878.5  502  4996  1296.538411  1.681012e+06

=== Bedrooms grouped by Garage ===

            mean  median  min  max       std       var
Garage
No      3.060694     3.0    1    5  1.411885  1.993420
Yes     2.941788     3.0    1    5  1.436386  2.063205

=== Bathrooms grouped by Garage ===

            mean  median  min  max       std       var
Garage
No      2.548170     3.0    1    4  1.096629  1.202595
Yes     2.557173     3.0    1    4  1.122727  1.260516

=== Floors grouped by Garage ===

            mean  median  min  max       std       var
Garage
No      1.997110     2.0    1    3  0.811555  0.658622
Yes     1.989605     2.0    1    3  0.807030  0.651297

=== YearBuilt grouped by Garage ===

               mean  median   min   max        std          var
Garage
No      1961.850674  1961.0  1900  2023  36.680957  1345.492627
Yes     1961.009356  1962.0  1900  2023  35.108497  1232.606572

=== Price grouped by Garage ===

                 mean    median    min     max            std           var
Garage
No      536920.700385  542865.5  50064  999656  278246.304279  7.742101e+10
Yes     538492.747401  533877.0  50005  999453  274596.636620  7.540331e+10