In [1]:
import pandas as pd

In [2]:
csv_path="./churn-bigml-80.csv"

In [3]:
df=pd.read_csv(csv_path)

In [4]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [16]:
X=df.drop('Churn',axis=1)

In [17]:
print("=== Minimum Value of Each Column ===")
X.min(numeric_only=True)

=== Minimum Value of Each Column ===

Account length              1.00
Area code                 408.00
Number vmail messages       0.00
Total day minutes           0.00
Total day calls             0.00
Total day charge            0.00
Total eve minutes           0.00
Total eve calls             0.00
Total eve charge            0.00
Total night minutes        43.70
Total night calls          33.00
Total night charge          1.97
Total intl minutes          0.00
Total intl calls            0.00
Total intl charge           0.00
Customer service calls      0.00
dtype: float64

In [18]:
print("=== Maximum Value of Each Column ===")
X.max(numeric_only=True)

=== Maximum Value of Each Column ===

Account length            243.00
Area code                 510.00
Number vmail messages      50.00
Total day minutes         350.80
Total day calls           160.00
Total day charge           59.64
Total eve minutes         363.70
Total eve calls           170.00
Total eve charge           30.91
Total night minutes       395.00
Total night calls         166.00
Total night charge         17.77
Total intl minutes         20.00
Total intl calls           20.00
Total intl charge           5.40
Customer service calls      9.00
dtype: float64

In [19]:
print("=== Mean Value of Each Column ===")
X.mean(numeric_only=True)

=== Mean Value of Each Column ===

Account length            100.620405
Area code                 437.438860
Number vmail messages       8.021755
Total day minutes         179.481620
Total day calls           100.310203
Total day charge           30.512404
Total eve minutes         200.386159
Total eve calls           100.023631
Total eve charge           17.033072
Total night minutes       201.168942
Total night calls         100.106152
Total night charge          9.052689
Total intl minutes         10.237022
Total intl calls            4.467367
Total intl charge           2.764490
Customer service calls      1.562641
dtype: float64

In [20]:
print("=== Range of Each Column ===")
X.max(numeric_only=True) - df.min(numeric_only=True)

=== Range of Each Column ===

Account length            242.0
Area code                 102.0
Churn                       NaN
Customer service calls      9.0
Number vmail messages      50.0
Total day calls           160.0
Total day charge          59.64
Total day minutes         350.8
Total eve calls           170.0
Total eve charge          30.91
Total eve minutes         363.7
Total intl calls           20.0
Total intl charge           5.4
Total intl minutes         20.0
Total night calls         133.0
Total night charge         15.8
Total night minutes       351.3
dtype: object

In [22]:
print("=== Standard deviation of Each Column ===")
X.std(numeric_only=True)

=== Standard deviation of Each Column ===

Account length            39.563974
Area code                 42.521018
Number vmail messages     13.612277
Total day minutes         54.210350
Total day calls           19.988162
Total day charge           9.215733
Total eve minutes         50.951515
Total eve calls           20.161445
Total eve charge           4.330864
Total night minutes       50.780323
Total night calls         19.418459
Total night charge         2.285120
Total intl minutes         2.788349
Total intl calls           2.456195
Total intl charge          0.752812
Customer service calls     1.311236
dtype: float64

In [23]:
print("=== Variance of Each Column ===")
X.var(numeric_only=True)

=== Variance of Each Column ===

Account length            1565.308011
Area code                 1808.036973
Number vmail messages      185.294086
Total day minutes         2938.762071
Total day calls            399.526628
Total day charge            84.929733
Total eve minutes         2596.056893
Total eve calls            406.483869
Total eve charge            18.756385
Total night minutes       2578.641241
Total night calls          377.076533
Total night charge           5.221771
Total intl minutes           7.774888
Total intl calls             6.032893
Total intl charge            0.566726
Customer service calls       1.719339
dtype: float64

In [25]:
print("=== Percentiles (25th, 50th, 75th) ===")
X.quantile([0.25,0.5,0.75],numeric_only=True)

=== Percentiles (25th, 50th, 75th) ===

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
0.25,73.0,408.0,0.0,143.40,87.0,24.38,165.3,87.0,14.05,166.925,87.0,7.5125,8.5,3.0,2.30,1.0
0.50,100.0,415.0,0.0,179.95,101.0,30.59,200.9,100.0,17.08,201.150,100.0,9.0500,10.2,4.0,2.75,1.0
0.75,127.0,510.0,19.0,215.90,114.0,36.70,235.1,114.0,19.98,236.475,113.0,10.6400,12.1,6.0,3.27,2.0