In [1]:
import pandas as pd
df=pd.read_csv('./dataset.csv')

In [2]:
df

       Age  Income Married Health Class
0    Young    High      No   Fair    No
1    Young    High      No   Good    No
2   Middle    High      No   Fair   Yes
3      Old  Medium      No   Fair   Yes
4      Old     Low     Yes   Fair   Yes
5      Old     Low     Yes   Good    No
6   Middle     Low     Yes   Good   Yes
7    Young  Medium      No   Fair    No
8    Young     Low     Yes   Fair   Yes
9      Old  Medium     Yes   Fair   Yes
10   Young  Medium     Yes   Good   Yes
11  Middle  Medium      No   Good   Yes
12  Middle    High     Yes   Fair   Yes
13     Old  Medium      No   Good    No

In [3]:
freq_age = df["Age"].value_counts()
freq_age

Age
Young     5
Old       5
Middle    4
Name: count, dtype: int64

In [4]:
import numpy as np

def entropy(column):
    counts = column.value_counts()
    probabilities = counts / len(column)
    return -np.sum(probabilities * np.log2(probabilities))

In [5]:
entropy_total = entropy(df["Class"])
entropy_total

0.9402859586706311

In [7]:
entropy_age = df.groupby("Age")["Class"].apply(entropy)
entropy_age

Age
Middle   -0.000000
Old       0.970951
Young     0.970951
Name: Class, dtype: float64

In [8]:
total = len(df)

weighted_entropy = sum([
    (df[df["Age"] == age].shape[0] / total) * entropy_val
    for age, entropy_val in entropy_age.items()
])

weighted_entropy

0.6935361388961918

In [9]:
information_gain_age = entropy_total - weighted_entropy
information_gain_age

0.24674981977443933