In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('./Iris.csv')

In [3]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
from sklearn.cluster import KMeans

In [5]:
model = KMeans(n_clusters=3,init='random',n_init=1,max_iter=10)

In [6]:
X = df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]

In [7]:
df['cluster']=model.fit_predict(X)

In [8]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,cluster
0,1,5.1,3.5,1.4,0.2,Iris-setosa,2
1,2,4.9,3.0,1.4,0.2,Iris-setosa,2
2,3,4.7,3.2,1.3,0.2,Iris-setosa,2
3,4,4.6,3.1,1.5,0.2,Iris-setosa,2
4,5,5.0,3.6,1.4,0.2,Iris-setosa,2
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,1
146,147,6.3,2.5,5.0,1.9,Iris-virginica,0
147,148,6.5,3.0,5.2,2.0,Iris-virginica,1
148,149,6.2,3.4,5.4,2.3,Iris-virginica,1
149,150,5.9,3.0,5.1,1.8,Iris-virginica,0

In [9]:
print('final cluster means are :')
for i,center in enumerate(model.cluster_centers_):
    print(f"Centroid {1} has centered at {center}")

final cluster means are :
Centroid 1 has centered at [5.88360656 2.74098361 4.38852459 1.43442623]
Centroid 1 has centered at [6.85384615 3.07692308 5.71538462 2.05384615]
Centroid 1 has centered at [5.006 3.418 1.464 0.244]

Write a program to cluster a set of points using K-means for IRIS
dataset. Consider, K=4, clusters. Consider Euclidean distance as the
distance measure. Randomly initialize a cluster mean as one of the data
points. Iterate at least for 10 iterations. After iterations are over, print the
final cluster means for each of the clusters.

In [10]:
model_2 = KMeans(n_clusters=4,init='random',n_init=1,max_iter=10)

In [11]:
df['cluster']=model.fit_predict(X)

In [12]:
print('final cluster means are :')
for i,center in enumerate(model.cluster_centers_):
    print(f"Centroid {i} has centered at {center}")

final cluster means are :
Centroid 0 has centered at [6.85       3.07368421 5.74210526 2.07105263]
Centroid 1 has centered at [5.006 3.418 1.464 0.244]
Centroid 2 has centered at [5.9016129  2.7483871  4.39354839 1.43387097]